{
  "env": {
    "v6x": {
      "presets": [
        ["env", {
          "targets": {
            "node": "6.0.0"
          }
        }]
      ],
      "plugins": [
        ["transform-object-rest-spread", { "useBuiltIns": true }]
      ]
    }
  }
}
