bower_components
build/Release
coverage
docs/
.env
.eslintcache
.grunt
.idea
jspm_packages/
lib-cov
.lock-wscript
*.log
logs
node_modules/
.node_repl_history
.npm
npm-debug.log*
.nyc_output
*.pid
*.pid.lock
pids
*.seed
*.tgz
typings/
yarn-debug.log*
yarn-error.log*
.yarn-integrity
/test*.js
